---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { getCollection, render } from 'astro:content';
import Prose from '@/components/prose.astro';
import BaseLayout from '@/layouts/base-layout.astro';
import { slugify } from '@/lib/utils';

export interface Props {
    post: CollectionEntry<'blog'>;
}

export const getStaticPaths = async () => {
    const posts = await getCollection('blog');
    return posts.map((post) => ({
        params: { slug: slugify(post.data.title) },
        props: { post }
    }));
};

const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={`Blog | ${post.data.title}`}>
    <article class="flex flex-col gap-4">
        <span
            class="text-gray-600 mb-2"
        >
            {new Date(post.data.pubDate).toLocaleDateString()}
        </span>
        <h1 class="text-4xl" transition:name={`post-title-${post.data.title}`}>
            {post.data.title}
        </h1>
        <Image
            loading="eager"
            src={post.data.coverImg}
            alt={post.data.title}
            className="w-full h-auto rounded-lg shadow"
            transition:name={`post-image-${post.data.title}`}
        />
        <p class="lead" transition:name={`post-description-${post.data.title}`}>{post.data.description}</p>
        <Prose>
            <Content />
        </Prose>
    </article>
</BaseLayout>
